.sp-nav {
    background-color: $dark_gray;
    background-image: none;
    display: inline-block;

    nav .nav_wrap .mobile_nav_icon, .nav-buttons {
        display: block;
        @include tablet-portrait-and-up {
            display: none !important;
        }
    }
    .nav_wrap .main_nav_wrap {
        #main_nav {
            @include tablet-landscape-and-up {
                top: 50%;
                position: absolute;
                @include transform(translateY(-50%));
            }
            li a {
               text-align: left;
               padding: 12px 24px;
           }
        }
    }
    li {
        text-align: left;
        font-size: 16px;
    }
}

#main_nav {
    li:nth-of-type(4) {
        @media screen and (max-width: 1023px) {
            margin-top: 20px !important;
        }
    }
}

nav .nav_wrap .main_nav_wrap #main_nav .sp-navlink {
    margin: 0 20px;
    // border-top: 1px solid $white;
    a {
        margin: 0 auto;
        border-top: 1px solid;
        text-indent: 12px;
        padding: 15px 0;
        width: 95%;
        @include tablet-landscape-and-up {
            width: auto;
            border-top: none;
            padding: 0;
            text-indent: 0;
        }
    }
    &:first-child {
        margin-top: 25px;
    }
}

.sp-subnav {
    display: none;
    @include tablet-portrait-and-up {
        display: block;
    }
    .container {
        padding: 40px 0;
        margin: 0 auto;
        text-align: center;
    }
    li {
        max-width: 350px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        @include tablet-portrait-and-up {
            width: 33%;
            display: inline-block;
        }
        &:first-child {
          a {
            padding-left: 38px;
            .sp-icon:before {
              background: url("../images/icons/icon_benefits_wht-01.svg") no-repeat;
              background-size: 26px;
              width: 36px;
              height: 24px;
              content: '';
              display: inline-block;
              position: absolute;
              margin-left: -34px;
              margin-top: -2px;
            }
          }
        }
        &:nth-child(2) {
          a {
            padding-left: 33px;
            .sp-icon:before {
              background: url("../images/icons/icon_docs_forms_wht-01.svg") no-repeat;
              background-size: 21px;
              width: 21px;
              height: 24px;
              content: '';
              display: inline-block;
              position: absolute;
              margin-left: -28px;
              margin-top: -1px;
            }
          }
        }
        &:last-child {
          a {
            padding-left: 36px;
            .sp-icon:before {
              background: url("../images/icons/icon_brandcenter_wht-01.svg") no-repeat;
              background-size: 26px;
              width: 34px;
              height: 24px;
              content: '';
              display: inline-block;
              position: absolute;
              margin-left: -32px;
              margin-top: -2px;
            }
          }
        }
    }
}

.hero-main {
  background:$sp-light-gray;
  padding:60px;
    .container {
        margin-top: 0;
        @include tablet-portrait-and-up {
            margin-top: 60px;
        }
    }
}

.latest-docs {
  overflow:auto;
  padding:80px 60px;
  .recently-viewed, .most-popular {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    h3 {
      border-bottom: 0;
    }
    ul {
      background:$sp-light-gray;
      margin-top: 0;
      margin-left: 0;
      padding:15px 0;
      margin-bottom: 0;
      font-weight:normal;
      li {
        a {
          background:none;
          background:url('../images/icons/icon_doc_grey-01.svg') no-repeat left center;
          background-size:15px;
          padding-left: 25px;
          margin-left: 15px;
          font-size:1em;

        }
      }
    }
  }
  .recently-viewed {
    float:left;
    margin:0;
  }
  .most-popular {
    float:right;
    margin:0;
  }
}

.shadow-border {
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgba(182,182,182,0.5);
}

.search-left {
    margin: 0 auto 60px;
    max-width: 350px;
    @include tablet-portrait-and-up {
        float: left;
        width: 45%;
        margin-right: 5%;
        margin-left: 3%;
        margin-bottom: 0;
        max-width: 100%;
    }
    h1 {
        margin: 30px 0 20px;
    }
    h3 {
        color: $black;
        margin-bottom: 10px;
    }
}

.quick-links {
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    padding: 20px;
    background:white;
    @include tablet-portrait-and-up {
       width: 36%;
       float: right;
       margin: 0 3% 0 0;
    }
    a {
        font-size: 1.25em;
        color: $dark_gray;
        display:block;
        background:url('../images/icons/icon_arrow dot_wht-01.svg') no-repeat center right;
        background-size:30px;
        font-weight:normal;
        padding-right:20px;
        &:hover {
            color: $yellow;
        }
    }
    h3 {
        text-align: center;
        border-bottom: 1px solid $light_gray;
        padding-bottom: 20px;
    }
    ul {
        margin-top: 15px;
        margin-bottom: 10px;
        li {
            margin: 15px 0;
        }
    }
}

.blue-caps-headline {
    color: $fourpoint_blue;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.holiday-schedule {
    background-color: $fourpoint_blue;
    padding: 60px 0;
    margin-bottom: 40px;
    .slick-prev, .slick-next {
        @include tablet-landscape-and-up {
            -webkit-transform: translate(0, -50%) scale(0.50);
            -ms-transform: translate(0, -50%) scale(0.50);
            transform: translate(0, -50%) scale(0.50);
        }
    }
    .slick-prev {
        left: -30%;
        @media screen and (min-width: 650px) {
            left: -18%;
        }
        @include tablet-portrait-and-up {
            left: -8%;
        }
    }
    .slick-next {
        right: -30%;
        @media screen and (min-width: 650px) {
            right: -18%;
        }
        @include tablet-portrait-and-up {
            right: -8%;
        }
    }
}

.holiday-wrapper {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    h3 {
        color: $white;
    }
}

.holiday-container {
    width: 75%;
    margin: 0 auto;
    @include tablet-portrait-and-up {
        width: 100%;
    }
    .slick-list {
        padding: 5px 0;
    }
}

.holiday {
    background: white;
    padding: 65px 0 25px;
    margin: 0 8px;
    // width:29px;
    // height:auto;
    background:url('../images/icons/icon_calendar.svg') no-repeat center 20px white;
    background-size:29px;
    h4 {
        font-size: 20px;
        font-weight: 300;
        color: $fourpoint_blue;
        text-align: center;
    }
}

.sp-cal-icon {
    // margin: 5px auto 10px;
    // width:29px;
    // height:auto;
    // background:url('../images/icons/icon_calendar.svg') no-repeat center top;

}

.date {
    background-color: $sp-light-gray;
    p {
        text-align: center;
        padding: 10px 0;
        margin-top: 10px;
    }
    span {
        font-weight: bold;
        display: block;
    }
}

.sp-footer {
    background-color: $sp-light-gray;
    .container {
        @media screen and (max-width: 1024px) {
            margin: 20px auto;
        }
    }
}

.link-container {
    vertical-align: top;
    width: 100%;
    margin-bottom: 40px;
    @include tablet-portrait-and-up {
        display: inline-block;
        margin-left: 3%;
        border-left: 1px solid $medium_gray;
        width: 44%;
        margin-bottom: 60px;
    }
    @include tablet-landscape-and-up {
        width: 22%;
        margin-bottom: 0;
    }
    h4 {
        text-transform: uppercase;
        margin: 0 0 1.5em 1.5em;
        font-size: 14px;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        color: $medium_gray;
        &:hover {
            color: $yellow;
        }
    }
}

.box {
    padding: 50px 0 30px;
    clear:both;
    overflow: auto;
    .container {
        // border: 1px solid;
        background-color: $white;
        margin: 20px auto;
        padding: 20px;
        position: relative;
        @include tablet-portrait-and-up {
            padding: 40px 60px;
        }
    }
    .border {
        position:absolute;
        right:55%;
        top:40px;
        bottom:60px;
        width:1px;
        margin-right: -7px;
        // padding-left: 40px;
        border-left: 1px solid $medium_gray;
    }
}

.box-blue {
    background-color: $fourpoint_blue;
    .container {
        background-color: $white;
    }
}

.box-left {
    width: 100%;
    @include tablet-portrait-and-up {
      width: 43%;
      float: left;
      padding-right: 3%;
    }
    .benefit-category-links {
      @include clearfix;
      text-align:left;
      margin-bottom: 25px;
      .benefit-category-link {
        @include clearfix;
        margin-bottom:20px;
        .logo {
          float:left;
          height:70px;
        }
        a.link {
          display:block;
          float:right;
          color:$fourpoint_blue;
          font-size:14px;
          height:70px;
          line-height:70px;
          background:url('../images/icons/icon_arrow dot_wht-01.svg') no-repeat right 21px;
          background-size:28px;
          padding-right:28px;
        }
      }
    }
}
.box-right {

    @include tablet-portrait-and-up {
        width: 55%;
        float: right;
        padding-left: 5%;
        border-left: 1px solid $medium_gray;
    }
    ul:first-child {
        margin-left: 0;
        @include tablet-portrait-and-up {
            margin-left: 1.5em;
        }
    }

    li {
        margin-bottom: 45px;
        text-transform: capitalize;
        @include clearfix;
    }
    a {
        color: $fourpoint_blue;
    }
}

.document-title {
    width:55%;
    width: calc(50% - 28px);
    float:left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    line-height:1.4em;
}
.document-files {
    width:40%;
    margin-left: 5%;
    float:right;
    a {
        color: $fourpoint_blue;
        vertical-align: top;
        padding-left:28px;
        background:url('../images/icons/icon-document.svg') no-repeat;
        background-size:16px;
        display:block;
        min-height: 24px;
        margin-bottom: 14px;
    }
}

.collapse-item-click {
    padding: 15px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    clear: both;
    @include tablet-portrait-and-up {
        float: left;
        width: 50%;
    }
}

.collapsible-content {
    display: none;
    margin-left: 0;
    background-color: $dark_gray;
    @include tablet-portrait-and-up {
        display: block;
        background-color: white;
        float: left;
        width: 50%;
        margin-bottom: 30px;
    }
    li {
        padding: 15px 0 15px 20px;
        @include tablet-portrait-and-up {
            padding: 15px 0 0 20px;
        }
    }
    a {
        padding: 10px 0;
        font-size: 14px;
        &:hover {
            color: $white;
            @include tablet-portrait-and-up {
                color: $yellow;
            }
        }
    }
}

.to-top {
    color: $fourpoint_blue;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: block;
}

.box-blue {
    .to-top {
        color: $white;
    }
}

.box-gray {
    background-color: gray;
}

.anchor-links {
    margin: 60px auto 0;
    width: 90%;
    ul {
        margin-left: 0;
        border-top: 1px solid #DADADA;
        @include tablet-portrait-and-up {
            border-top: none;
            margin: 0 auto;
        }
    }
    li {
        // padding: 20px 0;
        float: left;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #DADADA;
        @include tablet-portrait-and-up {
            width: 50%;
            text-align: center;
            border-bottom: none;
        }
        @include tablet-landscape-and-up {
            width: auto;
        }
    }
    a {
        color: $black;
        text-transform: uppercase;
        font-size: 1.25em;
        padding: 15px;
        width: 100%;
        display: block;
        @include transition(0.25s ease);
        &:hover {
            color: $fourpoint_blue;
            @include transition(0.25s ease);
        }
    }
}

.it-doc-container {
    .container {
        margin: 10px auto 60px;
        border-bottom: 1px solid $medium_gray;
    }
}

.it-contact {
    text-align: center;
    border-bottom: 1px solid $medium_gray;
    max-width: 1100px;
    width: 90%;
    padding-bottom: 60px;
    margin: 0 auto;
    p {
        max-width: 700px;
        width: 70%;
        font-weight: bold;
        font-size: 16px;
    }
    .btn-wide {
        max-width: 320px;
        text-align: center;
        display: block;
        margin: 40px auto;
    }
    .help-phone {
        font-size: 20px;
        margin: 0 auto;
        a {
            @include third_btn;
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.address {
    width: 45%;
    float: left;
    padding: 0 10px 10px 0;
    margin: 15px 5% 30px 0;
    @include tablet-portrait-and-up {
        width: 28%;
    }
    p {
        width: 75%;
        margin: 0 20% 5px 0;
        float: left;
    }
    a {
        color: $fourpoint_blue;
        display: block;
        margin-bottom: 5px;
        &:hover {
            color: $yellow;
        }
    }
}

.employees-wrapper {
    background-color: $sp_gray;
    .container {
        @media screen and (min-width: 500px) {
            padding: 0;
        }
    }
    h3 {
        color: $black;
        text-align: center;
        margin: 20px 0;
    }
    ul {
        text-align: center;
        margin-left: 0;
    }
    li {
        display: inline-block;
    }
}
.office-sort, .name-sort {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    li {
        margin: 1.5%;
        width: 30%;
        float: left;
        @include tablet-portrait-and-up {
            margin: 0 5px;
            float: none;
            width: auto;
        }
    }
    a.button {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        @include tablet-portrait-and-up {
            padding: 15px 30px;
        }
    }
}

.office-sort {
    @include tablet-portrait-and-up {
        margin: 40px 0 10px;
    }
}

.name-sort {
    margin-bottom: 20px;
}

// employee cards
.employee-bio-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    width: 100%;
    height: 500px;
    padding: 0 1.5%;
    margin: 3% 0 6%;
    @media screen and (min-width: 560px) {
        width: 49%;
        padding: 0 0.5%;
    }
    @media screen and (min-width: 710px) {
        padding: 0 1.5%;
    }
    @include tablet-portrait-and-up {
        width: 45%;
        margin: 3% 0 1%;
    }
    @include tablet-landscape-and-up {
        width: 33%;
    }
    .email-addr {
        span {
            display: block;
        }
    }
}

.flip {
    @include transform(rotateY(180deg));
}

.more-flip {
    position: absolute;
    bottom: 12px;
    left: 50%;
    @include transform(translateX(-50%));
    color: $fourpoint_blue;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    font-weight: 700;
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0px;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        transition: 0.2s ease;
        background: #00a8e2 url(../images/icons/btn_arrows.svg) no-repeat center center;
        border-radius: 50%;
    }
    &:hover:before {
        background-color: $yellow;
    }
}

.go-to-page {
    color: $fourpoint_blue;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    font-weight: 700;
    background: none !important;
    margin-left: 30px;
    @include transform(translateX(-50%));
    @include tablet-portrait-and-up {
        margin-left: 0;
    }
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0px;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        transition: 0.2s ease;
        background: #00a8e2 url(../images/icons/btn_arrows.svg) no-repeat center center;
        border-radius: 50%;
    }
    &:hover:before {
        background-color: $yellow;
    }
}

.employee-bio {
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    @include transition(0.4s ease);
    h3 {
        font-size: 17px;
    }
    .front, .back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 6px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $white;

        &:after {
            content: ' ';
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            height: 115px;
            background-color: $sp-light-gray;
            z-index: -1;
        }
    }
    .front {
        z-index: 2;
        padding: 6px;
        @include transform(rotateY(0));
        h3 {
            margin: 0;
        }
    }
    .back {
        @include transform(rotateY(180deg));
        .inner {
            background: $dark_gray;
            margin-top: -46px;
            z-index: -1;

            p {
                padding: 20px 10px 20px 15px;
                text-align: left;
                color: $white;
            }

            span {
                display: block;
                text-align: center;
                padding: 20px 0 15px;
            }
        }
        .more-flip {
            margin: 0;
        }
    }
    .office {
        padding: 10px 0;
        background-color: $sp-light-gray;
    }
}

.profile-img {
    border-radius: 50%;
    width: 45%;
    border: 6px solid white;
    margin: 20px auto 15px;
    max-width: 140px;
}

.close-alert {

}

.alert-modal, .profile-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background-color: rgba(0,0,0,0.75);
}

.alert-date {
    color: $medium_gray;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.modal-panel {
    background-color: $white;
    position: relative;
    top: 50%;
    height: 80%;
    margin: 0 auto;
    transform: translateY(-50%) scale(0.7);

    ul.container {
        margin: 10px auto;
        padding: 0;
    }

    li {
        display: table;
        vertical-align: middle;
        border-bottom: 2px solid $sp-light-gray;
        margin: 10px 0;
        padding: 10px 10px 20px;
        width: 100%;
    }

    h1 {
        text-align: center;
        width: 96%;
        margin: 20px auto 0;
        border-bottom: 2px solid $sp-gray;
        padding-bottom: 20px;
        font-size: 2.5em;
    }
    .document-files {
        text-align: left;
        float: left;
        display: block;
        margin-left: 0;
        width: 100%;
        @include tablet-portrait-and-up {
            text-align: right;
            display: table-cell;
            vertical-align: middle;
            float: none;
            width: 40%;
        }
    }
    a {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
    a:first-child {
        margin-right: 26%;
    }
}

a.modal-link {
    color: $fourpoint_blue;
    margin-left: 5px;
    display: table;
}

.modal-left {
    display: table;
    vertical-align: middle;
    p {
        width: 100%;
        display: block;
        vertical-align: middle;
        @include tablet-landscape-and-up {
            width: 50%;
            display: table-cell;
        }
    }
}

.close-modal, .remove-alert {
    float: right;
    cursor: pointer;
    display: inline;
    width: 23px;
    height: 23px;
    img {
        display: inline;
        width: 23px;
        height: 23px;
    }
}

.scale-in {
    transform: translateY(-50%) scale(1);
    transition: 0.2s ease-in-out;
}

.card-hidden {
    // display: none !important;
    opacity: 0;
    transform: scale(0);
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    @include transition(0.30s ease-in-out);
}

.card-visible {
    // display: inline-block !important;
    opacity: 1;
    transform: scale(1);
    @include transition(0.40s ease-in-out);
}

.office-btn.active:hover, .name-btn.active:hover {
    background: $fourpoint_blue;
    border-color: $white;
    color: $white;
}

.contact-info {
    padding: 0 20px;
    overflow: hidden;
    @media screen and (min-width: 560px) {
        padding: 0;
    }
    @media screen and (min-width: 710px) {
        padding: 0 20px;
    }

    li {
        display: block;
        text-align: left;
        color: $medium_gray;
        margin-bottom: 6px;
    }
    span {
        color: $black;
        width: 66%;
        float: right;
    }
}
#searchform {
  margin-top: 16px;
  input#s {
    border:1px solid $sp-med_light-gray;
    background:white;
    height:50px;
    font-size:20px;
    line-height:50px;
    width:100%;
    max-width:380px;
    background:url('../images/icons/icon_magnifying_glass.svg') no-repeat calc(100% - 12px) 8px white;
    background-size:33px;
    padding-left:12px;
    padding-right: 12px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $sp-med_light-gray;
      font-family: 'Montserrat', sans-serif;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $sp-med_light-gray;
      font-family: 'Montserrat', sans-serif;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $sp-med_light-gray;
      font-family: 'Montserrat', sans-serif;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $sp-med_light-gray;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
.photo-edit {
    input {
        visibility: hidden;
    }
    label {
        color: $fourpoint_blue;
        cursor: pointer;
        background: url("../images/icons/icon_arrow dot_wht-01.svg") no-repeat center right;
        background-size: 30px;
        font-weight: normal;
        padding-right: 20px;
    }
}
